*{
    margin: opx;
    padding: opx;
    box-sizing: border-box;
    font-family: poppins;
}
a{
    text-decoration-line: none;
}
ul{
    list-style: none;
}
:root{
    --main-color:#2661bb;
    --bg-color:#000000;
    --main-ligh:#eef4f9;
    --product-bg-color:#0a0a0a;

}
body{
    background-color: var(--bg-color);
}
/* Header */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin: auto;
    z-index: 101;
    position: relative;
    padding: 40px 0px;
}
.logo{
    max-width: 180px;
    max-height: 70px;
    display: flex;

}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    max-height: 70px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li a{
    margin: 0px 15px;
    color: #d3d3d3;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 0.9rem;
    transition: all ease 0.3s;
}
.menu li a:hover{
    Color:#ffffff;

}
.nav-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 25px;

}
.nav-btns a{
    fill:#ffffff;
    width: 20px;
    
}